@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-blue: hsl(234, 12%, 34%);
    --gray-blue:  hsl(229, 6%, 66%);
    --light-gray:  hsl(0, 0%, 98%);

    --red: hsl(0, 78%, 62%);
    --cyan:  hsl(180, 62%, 55%);
    --orange:  hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

}
body{
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
    font-size: 16px;

}
p{
    color: var(--gray-blue)
}
main{
width: 100%;
min-height: 100vh;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin-top: 10vh;

}
.info h1{
    font-weight: 400;
    color: var(--gray-blue);
    font-size: 2rem;

}
.info h2{
    font-weight: 600;
    color: var(--dark-blue);
    font-size: 2rem;
}
.info p{
    color: var(--gray-blue);
    font-size: 1rem;
    margin: 2rem 2rem;
    text-align: justify;


}
.card-container{
    display: flex;
    flex-direction: column;
}
.card-col-1{
    margin:1vh 1vw;
}
.card{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    -webkit-box-shadow: 0px 10px 15px -9px hsl(229, 6%, 66%); 
    box-shadow: 0px 10px 15px -9px hsl(229, 6%, 66%);
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}
.card .figure{
    width: 100%;
    display: flex;
    justify-content:flex-end;
}
.card img{
    /* target all images in the cards*/
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;


}
.card-header{
    font-size: 1.5rem;
    color: var(--dark-blue);
    width: 100%;
    margin-left: 2vh;
    margin-right: 3vw;
    margin-top: 2vh;
}
.card p{
    display: flex;
    width: 100%;
    margin-left: 2vh;
    font-size: 0.8rem;
}
#card-one{
    border-top: 3px solid var(--cyan);
}
#card-two{
    border-top: 3px solid var(--red);
}
#card-three{
    border-top: 3px solid var(--orange);
}
#card-four{
    border-top: 3px solid var(--blue);

}
footer{

}
@media screen and (min-width:1100px) {
    .info p{
        text-align: center;
        margin: 3rem 30rem;
    }
    .card-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card-col-1, .card-col-2, .card-col-3{
        width: 25vw;
        margin: 2vh 1vw;
        height: 500px;
    }
    .card-col-1, .card-col-3{
        display: flex;
        align-items: center;
    }

    .card{
        width: 100%;
        height: 30vh;
        margin: 0;
    }
    #card-two{
        margin-bottom: 2vh;
        
    }
    
}